/* li::after {
    margin-left: -1rem;
    opacity: 0;
    font-weight: bold;
    transition: margin-left, opacity, 0.2s;
} */

/* li:hover:after {
    margin-left: 1rem;
    opacity: 1;
} */

/* HTML */
/* li:nth-child(2)::after {
    content: '<div></div>';
} */

/* CSS */
/* li:nth-child(3)::after {
    content: '';
    position: absolute;
    border: 2px solid black;
    width: 2rem;
    height: 3rem;
    margin-left: -1rem;
} */

/* JavaScript */
/* li:nth-child(4)::after {
    content: 'li.addEventListener("mousedown", () => li.style.marginRight += 1 + "px"';
    font-style: italic;
    font-weight: normal;
    white-space: nowrap;
} */

/* React */
/* li:nth-child(5)::after {
    content: '<Project title="portfolio" />';
    color: #4ec9b0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #1e1e1e;
    border-radius: 8px;
} */

/* React Native */
/* li:nth-child(7)::after {
    content: '<Project props={title: "portfolio"}/>';
    color: #4ec9b0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #1e1e1e;
    border-radius: 8px;
} */

/* Kotlin */
/* li:nth-child(8)::after {
    content: 'fun sum(a: Int, b: Int): Int = a + b';
    color: cornflowerblue;
    font-style: italic;
    font-weight: normal;
} */

li {
    overflow: hidden;
    list-style-type: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    margin-left: 0;
}