.image-and-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.kim {
    flex: 1;
    max-width: 600px;
}
.kim > img {
    border-radius: 8px;
    max-width: 100%;
}

.image-and-text > p {
    flex: 1.5;
    font-size: 14pt;
    margin-top: 0px;
    margin-left: 1rem;
}

@media screen and (max-width: 600px) {
    .image-and-text {
        flex-direction: column;
    }
    .image-and-text > p {
        margin-top: 1rem;
    }
}