.project-list-item {
    padding: .75rem;
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
    background-color: rgba(70, 170, 200, 0.1);
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

.project-list-item > div:not(.image-wrapper) {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-left: 1rem;
}

.project-list-item:hover {
    background-color: rgba(70, 170, 200, 0.2);
}

.project-list-item h3 {
    margin: 0px;
}

.project-list-item p {
    /* font-size: 16pt; */
}


.image-wrapper {
    flex: 1;
}

.project-list-item > div > img {
    height: 100%;
    max-width:100%;
    object-fit: contain;
}

.link-list {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}